<a href="https://colab.research.google.com/github/amiguelnobrega/Waze/blob/main/waze3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task 1. Import packages and data loading

In [1]:
# Import any relevant packages or libraries
import pandas as pd
from scipy import stats

In [2]:

#mount google drive in colab notebook
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
#load waze dataset to the notebook
df = pd.read_csv('/content/gdrive/Othercomputers/My MacBook Air/Estudo/Google Advance DA/Projects/Waze/waze_dataset.csv')
print('done!')

done!

#Task 2. Data exploration

In [4]:
# 1. Create `map_dictionary`
map_dictionary = {'Android': 2, 'iPhone': 1}

# 2. Create new `device_type` column
df['device_type'] = df['device']

# 3. Map the new column to the dictionary
df['device_type'] = df['device_type'].map(map_dictionary)

df['device_type'].head()

0    2
1    1
2    2
3    1
4    2
Name: device_type, dtype: int64

In [5]:
df.groupby('device_type')['drives'].mean()

device_type
1    67.859078
2    66.231838
Name: drives, dtype: float64

#Task 3. Hypothesis testing

In [6]:
# 1. Isolate the `drives` column for iPhone users.
iPhone = df[df['device_type'] == 1]['drives']

# 2. Isolate the `drives` column for Android users.
Android = df[df['device_type'] == 2]['drives']

# 3. Perform the t-test
stats.ttest_ind(a=iPhone, b=Android, equal_var=False)

TtestResult(statistic=1.463523206885235, pvalue=0.143351972680206, df=11345.066049381952)

Since the p-value is larger than the chosen significance level (5%), we fail to reject the null hypothesis. In conclusion there is not a statistically significant difference in the average number of drives between drivers who use iPhones and drivers who use Androids.

#Report
The key business insight is that drivers who use iPhone devices on average have a similar number of drives as those who use Androids.